.header {
  text-align: center;
}
.header img {
  height: 5em;
}
.navbar {
  background-color: black;
  line-height: 40px;
  font-size: large;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 9px;
}
nav a:hover {
  background-color: grey;
}
